<?xml version="1.0" encoding="utf-8"?>

<!-- App created by Pedro Abade nº59385 & Luis Menezes nº60639 -->

<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.cm.smartcart" >

    <application
        android:name=".ParseApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme" >

        <activity
            android:name=".Shopping"
            android:label="Shopping"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>

        <activity
            android:name=".Profile"
            android:label="ChangeProfile"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>

        <activity
            android:name=".History"
            android:label="History"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>

        <activity
            android:name=".Services"
            android:label="Services"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>

        <activity
            android:name=".BaseActivity"
            android:label="BaseActivity"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>

        <activity
            android:name=".Login"
            android:theme="@style/AppTheme.Dark"
            android:windowSoftInputMode="stateHidden">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".Signup"
            android:windowSoftInputMode="stateHidden"
            android:theme="@style/AppTheme.Dark">
        </activity>

        <service
            android:enabled="true"
            android:exported="false"
            android:name=".AutoUpdateService" >
        </service>
    </application>

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

</manifest>
